/* Box-sizing fix! */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* Utility classes */
.responsive-img {
  max-width: 100%;
}
.text-center {
    text-align: center;
}

.relative {
    position: relative;
}

/* Grid system! */
.row {
    max-width: 1200px;
    margin: 0 auto;
    display: flex; /* This will allow our row to display columns horizontally */
    flex-wrap: wrap; /* This will become necessary to allow our flex boxes to stack in responsive mode */
}

.get-in-touch .social-icons {
  display: block;
  list-style: none;
}

.get-in-touch .social-icons li {
	margin: 0 auto;
}



/* If an element needs all twelve columns, then its width is 100%. Easy. */
.col-small-12 {
    width: 100%;
}
/* If an element needs 11 of 12 columns, its width is 11/12 * 100% */
.col-small-11 {
    width: 91.666%;
}
.col-small-10 {
    width: 83.333%;
}
.col-small-9 {
    width: 75%;
}
.col-small-8 {
    width: 66.666%;
}
.col-small-7 {
    width: 58.333%;
}
/* This is the class we'd use if we want two 50/50 elements next to each other */
.col-small-6 {
    width: 50%;
}
.col-small-5 {
    width: 41.666%;
}
/* This is the class we'd use if we want three elements next to each other */
.col-small-4 {
    width: 33.333%;
}
/* This is the class we'd use if we want four elements next to each other */
.col-small-3 {
    width: 25%;
}
.col-small-2 {
    width: 16.666%;
}
/* We'll almost NEVER use this */
.col-small-1 {
    width: 8.333%;
}

@media only screen and (min-width: 641px) {
    /* Classes that apply to medium and larger devices */
	/* If an element needs all twelve columns, then its width is 100%. Easy. */
	
	.col-medium-12 {
		width: 100%;
	}
	/* If an element needs 11 of 12 columns, its width is 11/12 * 100% */
	.col-medium-11 {
		width: 91.666%;
	}
	.col-medium-10 {
		width: 83.333%;
	}
	.col-medium-9 {
		width: 75%;
	}
	.col-medium-8 {
		width: 66.666%;
	}
	.col-medium-7 {
		width: 58.333%;
	}
	/* This is the class we'd use if we want two 50/50 elements next to each other */
	.col-medium-6 {
		width: 50%;
	}
	.col-medium-5 {
		width: 41.666%;
	}
	/* This is the class we'd use if we want three elements next to each other */
	.col-medium-4 {
		width: 33.333%;
	}
	/* This is the class we'd use if we want four elements next to each other */
	.col-medium-3 {
		width: 25%;
	}
	.col-medium-2 {
		width: 16.666%;
	}
	/* We'll almost NEVER use this */
	.col-medium-1 {
		width: 8.333%;
	}
}

/* Large screen sizes */
@media only screen and (min-width: 1025px) {
  .col-large-12 {
      width: 100%;
  }
  /* If an element needs 11 of 12 columns, its width is 11/12 * 100% */
  .col-large-11 {
      width: 91.666%;
  }
  .col-large-10 {
      width: 83.333%;
  }
  .col-large-9 {
      width: 75%;
  }
  .col-large-8 {
      width: 66.666%;
  }
  .col-large-7 {
      width: 58.333%;
  }
  /* This is the class we'd use if we want two 50/50 elements next to each other */
  .col-large-6 {
      width: 50%;
  }
  .col-large-5 {
      width: 41.666%;
  }
  /* This is the class we'd use if we want three elements next to each other */
  .col-large-4 {
      width: 33.333%;
  }
  /* This is the class we'd use if we want four elements next to each other */
  .col-large-3 {
      width: 25%;
  }
  .col-large-2 {
      width: 16.666%;
  }
  /* We'll almost NEVER use this */
  .col-large-1 {
      width: 8.333%;
  }

}

/********************* BLOCK GRID *************************/
/***********************************************************/
ul.block-grid {
  display: flex; /* display elements next to each other */
  flex-wrap: wrap;
  list-style: none; /* disable bullets on the LI items */
  padding-left: 0; /* reset the browser extra padding on UL elements */
}

ul.block-grid li {
  padding: 5px; /* Adding a 10px padding on a 100% width would not work if it wasn't for box-sizing: border-box! */
}

ul.block-grid-small-2 > li {
  width: 50%;
}
ul.block-grid-small-3 > li {
  width: 33.333%;
}
ul.block-grid-small-4 > li {
  width: 25%;
}
.block-grid-small-5 > li {
  width: 20%;
}
.block-grid-small-6 > li {
  width: 16.666%;
}

@media only screen and (min-width: 641px) {
	ul.block-grid-medium-2 > li {
  	  width: 50%;
	}
	ul.block-grid-medium-3 > li {
	  width: 33.333%;
	}
	ul.block-grid-medium-4 > li {
	  width: 25%;
	}
	.block-grid-medium-5 > li {
	  width: 20%;
	}
	.block-grid-medium-6 > li {
	  width: 16.666%;
	}
}

/* Large screen sizes */
@media only screen and (min-width: 1025px) {
	ul.block-grid-large-2 > li {
  	  width: 50%;
	}
	ul.block-grid-large-3 > li {
	  width: 33.333%;
	}
	ul.block-grid-large-4 > li {
	  width: 25%;
	}
	.block-grid-large-5 > li {
	  width: 20%;
	}
	.block-grid-large-6 > li {
	  width: 16.666%;
	}
	
}
