@import url('https://fonts.googleapis.com/css?family=Taviraj');
$taviraj: 'Taviraj', serif;
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");

// @import 'settings';
// @import '~foundation-sites/assets/foundation'; 
// @import 'grid';
@import '~bootstrap/dist/css/bootstrap.min';
@import 'material-kit';




