<div class="crop"
  [style.width.px]="starWidth"
  [title]="rating" (click)="onClick()">

  <div style="width: 86px">
    <div class="glyphicon glyphicon-star"></div>
    <div class="glyphicon glyphicon-star"></div>
    <div class="glyphicon glyphicon-star"></div>
    <div class="glyphicon glyphicon-star"></div>
    <div class="glyphicon glyphicon-star"></div>
    
  </div>
</div>