<div class="container">
  <div class="card card-blog">
    <div class="content">
      <h4>{{pageTitle}}</h4>
    </div>
  </div>
  <div class="panel-footer">
    <div class="btn btn-default" (click)='onBack()' style="width:80px">
      <i class="glyphicon glyphicon-chevron-left"></i> Back
    </div>
  </div>
</div>