<div class="container">
  <h1>Product Details here</h1>

   <!-- <h3><pre>{{mocks | json }}</pre></h3>  -->

  <div class="row">
    <div *ngFor="let mock of mocks" class="col-md-4">
      <div class="card card-blog">
        <div class="content">
          <h4 class="card-title"> <a [routerLink]="['/products', mock.productId]">{{mock.productName}}</a></h4>
          <div>{{mock.productCode}}</div>
          <div>{{mock.releaseDate}}</div>
          <div>{{mock.description}}</div>
          <div>{{mock.price}}</div>
          <div>{{mock.ratinf}}</div>
          <img  style="max-height:55px; max-width:55px;" *ngIf="mock.imageUrl" class="img fit" [src]="mock.imageUrl">
        </div>
      </div>
    </div>
  </div>
</div>
