

<div class="container">
  <!--<div>Home component loaded!</div>-->
  <!--<pre> {{ places | json}} </pre>-->
  
</div>

<div class="container">
  <h2> Search Restos</h2>
    <div class="map">
      <div class="row"> 
        <div class="col-sm-12 form-group">
          <label for="address" class="control-label">Search an address</label>
          <input type="text" class="form-control" id="address" name="address" value="">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="lng" class="control-label">Longitude</label>
          <input type="text"  class="form-control" id="lng" name="lng" [(ngModel)]="inputLng">
        </div>
         <div class="col-sm-6 form-group">
          <label for="lat" class="control-label">Latitude</label>
          <input type="text"  class="form-control" id="lat" name="lat" [(ngModel)]="inputLat">
        </div>
      </div>
      <div class="row">
          <div class="col-sm-4 ">
            <a class="btn btn-info" (click)="search()">Search</a>
          </div>
        </div>
       
      
    </div>

  <div id="map" class="col-sm-12"></div>


  
    <h2>List of restaurants</h2>
    <div class="row">
      <div class="col-sm-12 form-group">
            <label for="lng" class="control-label">Filter by</label>
            <input type="text"  class="form-control" 
                    id="lng" name="lng" [(ngModel)]="listFilter">
      </div>
      <h2>Rating {{ratingTitle}}</h2>
    </div> 
 


       
   
    <div class="row">
      <div *ngFor="let place of places | filterResto:listFilter" class="col-md-4">
        <div class="card card-blog card-raised">
          <div class="card-image">
            <a href="#">
            <img  *ngIf="place.photos" class="img img-raised fit" [src]="place.photos[0].getUrl({ 'maxWidth': 55, 'maxHeight': 55 })">
          </a>
          </div>

          <div class="content">
            <h4 class="card-title" data-toggle="tooltip" data-placement="top" [title]="place.name">
              {{place.name.length > 37 ? (place.name | truncate: 25) : place.name }} 
            </h4>
            <div class="card-description">
             <p> {{place.vicinity}} </p>
             <p> {{place.rating}} </p>
             <star [rating]="place.rating"
                (ratingClicked)="onRatingClicked($event)">
              </star>
             <p> <span class="label label-warning">{{place.types[0]}}</span> </p>
             
            </div>
          </div>
        </div>
      </div>
      
    </div>
  



