.hero {
    width: 100%;
}

.map, .section-white {
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);
}
#map {
  margin: 40px 0;
  height: 500px;
}

.popup {
  width: 300px;
  
}

.popup img {
    width: 100%;
  }

.fit {
  height: 250px!important;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
    input[type="text"] {
      width: 100%;
    }
  }